@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-top: 1.5em;
}

/* Layout */

.display-container {
  max-width: 550px;
  width: 90%;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em;
}

/* Header */

input[type="color"] {
  width: 61px;
  height: 40px;
  cursor: pointer;
}

select {
  width: 18.75em;
  padding: 0.5em;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  border-radius: 2px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}

.get-scheme-btn button {
  padding: 0.9em;
  border: 1px solid #d1d5db;
  background-color: #ffffff;
  border-radius: 2px;
  font-weight: 400;
  font-size: 0.75rem;
  cursor: pointer;
}

/* Color scheme containers */

.color-schemes-container {
  height: 83vh;
  display: grid;
  grid-template-columns: repeat(5, minmax(40px, 1fr));
}

.color-container > div:nth-of-type(1) {
  height: 90%;
}

#colorContainer1 {
  background-color: #f55a5a;
}

#colorContainer2 {
  background-color: #2b283a;
}

#colorContainer3 {
  background-color: #fbf3ab;
}

#colorContainer4 {
  background-color: #aad1b6;
}

#colorContainer5 {
  background-color: #a626d3;
}

.color-value {
  margin-top: 0.3em;
  padding: 1em;
}
